DEVELOPMENT:
  GIPHY_API: somesecret_keyzzz
  DEBUG: True
  API_KEY: somesecret_keyzzz
  DATABASE_USERNAME:
  DATABASE_PASSWORD:
  DATABASE_HOST:
  DATABSE_NAME:

PRODUCTION:
  GIPHY_API_KEY: somesecret_keyzzz
  DEBUG: False
  API_KEY: somesecret_keyzzz
  DATABASE_USERNAME:
  DATABASE_PASSWORD:
  DATABASE_HOST:
  DATABSE_NAME:
