<!-- 
COURSE: CST 205 - Multimedia Design & Programming
TITLE: view.html
ABSTRACT: This file is for view gif + sound combinations
AUTHORS: Carsen Yates
DATE: 11/16/2017

Flask Bootstrap Usage: https://pythonhosted.org/Flask-Bootstrap/basic-usage.html
-->

{% extends "base.html" %}

{% block title %}This is an example page{% endblock %}

{% block content %}

<table align="center">
	<tr>
		<td>
			<img src={{ gif }} style="text-align: center;" />
		</td>
		<td>
			<iframe
				style="text-align: center;"
				width="560"
				height="315"
				src={{ video }}
				frameborder="0" 
				<!-- allowfullscreen -->
			/>
		</td>
	</tr>
</table>

{% endblock %}